@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.section1 {
    color: white;
    background-color: #272932;
}
.poppins {
    font-family: Poppins;
    font-weight: 700;
    font-size: 64px;
    line-height: 83.2px;
    letter-spacing: -2.5%;
    width: 943.99px;
    height: 166px;
}
.mulish {
    font-family: Mulish;
    font-weight: 400;
    font-size: 21px;
    line-height: 31.5px;
    width: 943.99px;
    height: 64px;
}
.section1 div button {
    color: white;
    padding: 11px 13px 11px 13px;
    gap: 32px;
    border: 3px solid #E0C93A;
    width: 234px;
    height: 54px;
    background-color: rgba(0, 0, 0, 0);
}
.mainContent {
    width: 957.99px;
    height: 577px;
    padding: 0 7px 0 7px;
    gap: 32px;
}
.Arrow {
    width: 17px;
    height: 12.14px;
    margin: 3px 0 0 0 0;
}
@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'RobotoMo';
    src: url(fonts/RobotoMono-Bold.ttf);
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #272932;
    font-family: Poppins;
}

.customized_box {
    display: flex;
    flex-direction: column;
    width: 576px;
    height: 357px;
    margin: 0 0 0 300px;
}

.customized_box h1 {
    color: white;
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    margin: 0 0 8px 0;
    height: 98px;
}

.customized_box h2 {
    color: white;
    margin: 0 0 8px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    height: 98px;
}

.customized_box p {
    color: white;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
    margin: 0 0 8px 0;
    height: 98px;
}

.customized_box button {
    color: #FFFFFF;
    background-color: #272932;
    border: 3px solid #E0C93A; 
    width: 111px;
    height: 39px;
    font-family: RobotoMo;
    cursor: pointer;
    transition: 0.3s;
}

.customized_box button:hover {
    border-color: #867b31;
}

.vector {
    display: flex;
    justify-content: center;
    margin: 81px 0;
}